﻿<div id="AddResponsiblePerson" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Emirates ID
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="tel" id="AddResponsiblePerson_EmiratesID" style="border:0px; width:85%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                First Name
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_FirstName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Second Name
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_SecondName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Third Name
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_ThirdName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Forth Name
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_ForthName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Mobile Number
            </td>
            <td style="width: 19%" class="InputFileClass">
                <select style="border: none;width:100%" id="AddResposible_Mobile_CountryCodeDDL"></select>
            </td>
            <td style="width:1%"></td>
            <td style="width:40%;" class="InputFileClass">
                <input type="tel" id="AddResponsiblePerson_MobileNumber" maxlength="16" style="border:0px; width:85%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                E-mail
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="email" id="AddResponsiblePerson_Email" style="border:0px; width:90%" onblur="AddResponsiblePerson.ValidateEmailInDB('AddResponsiblePerson_Email')" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                BirthDate
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="date" class="datepicker" id="AddResponsiblePerson_BirthDate" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Preferred Language
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" id="AddResponsiblePerson_Language">
                    <option value="null">Select Language</option>
                    <option value="En">English</option>
                    <option value="Ar">Arabic</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Preferred Contact
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" id="AddResponsiblePerson_Contact">
                    <option value="null">Select Contact</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Email">E-mail</option>
                    <option value="Landline">Landline</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Username
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_Username" style="border:0px; width:90%" onblur="AddResponsiblePerson.HandleValidateUsername()" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Land Line
            </td>
            <td style="width: 19%" class="InputFileClass">
                <select style="border: none;width:100%" id="AddResponsible_LandLine_CountryCodeDDL"></select>
            </td>
            <td style="width:1%"></td>
            <td style="width:40%;" class="InputFileClass">
                <input type="tel" id="AddResponsiblePerson_LandLine" style="border:0px; width:85%" pattern="[0-9]*" maxlength="16" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Fax
            </td>
            <td style="width: 19%" class="InputFileClass">
                <select style="border: none;width:100%" id="AddResponsible_Fax_CountryCodeDDL"></select>
            </td>
            <td style="width:1%"></td>
            <td style="width:40%;" class="InputFileClass">
                <input type="tel" id="AddResponsiblePerson_Fax" style="border:0px; width:85%" pattern="[0-9]*" maxlength="16" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Authorized Services
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" multiple="multiple" id="AddResponsiblePerson_ListOfValues"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="AddResponsiblePerson_AddBtn">
            Add
        </div>
    </center>
    <br />
    <br />
    <div id="AddResponsiblePerson_ValuesTemp" style="display:none">
        <option value="${Id}">${Name}</option>
    </div>
</div>
