﻿<div id="AddResponsiblePerson" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم الهوية
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="tel" id="AddResponsiblePerson_EmiratesID" style="border:0px; width:85%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الاول
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_FirstName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الثاني
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_SecondName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الثالث
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_ThirdName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الرابع
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_ForthName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                 الهاتف المحمول
            </td>
            <td style="width:40%;" class="InputClass">
                <input type="tel" id="AddResponsiblePerson_MobileNumber" maxlength="16" style="border: 0px; width: 85%; direction: ltr;" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
            <td style="width:1%"></td>
            <td style="width:19%" class="InputFileClass">
                <select style="direction: ltr; border: none; width: 100%; " id="AddResposible_Mobile_CountryCodeDDL"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                البريد الالكتروني
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="email" id="AddResponsiblePerson_Email" style="border:0px; width:90%" onblur="AddResponsiblePerson.ValidateEmailInDB('AddResponsiblePerson_Email')" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                تاريخ الميلاد
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="date" class="datepicker" id="AddResponsiblePerson_BirthDate" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اللغة
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" id="AddResponsiblePerson_Language">
                    <option value="null">اختر اللغة</option>
                    <option value="En">انجليزي</option>
                    <option value="Ar">عربي</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                طريقة التواصل
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" id="AddResponsiblePerson_Contact">
                    <option value="null">اختر طريقة التواصل</option>
                    <option value="Mobile">الهاتف المحمول</option>
                    <option value="Email">البريد الالكترونى</option>
                    <option value="Landline">الهاتف الارضى</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اسم المستخدم
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AddResponsiblePerson_Username" style="border:0px; width:90%" onblur="AddResponsiblePerson.HandleValidateUsername()" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الهاتف الأرضى
            </td>
            <td style="width:40%;" class="InputClass">
                <input type="tel" id="AddResponsiblePerson_LandLine" style="border:0px; width:85%;direction: ltr;" maxlength="16" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
            <td style="width:1%"></td>
            <td style="width:19%" class="InputFileClass">
                <select style="direction: ltr; border: none; width: 100%; " id="AddResponsible_LandLine_CountryCodeDDL"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الفاكس
            </td>
            <td style="width:40%;" class="InputClass" >
                <input type="tel" id="AddResponsiblePerson_Fax" style="border:0px; width:85%;direction: ltr;" pattern="[0-9]*" maxlength="16" onkeypress="return isNumber(event);" />
            </td>
            <td style="width:1%"></td>
            <td style="width:19%" class="InputFileClass">
                <select style="direction: ltr; border: none; width: 100%; " id="AddResponsible_Fax_CountryCodeDDL"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الخدمات المرخصة
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" multiple="multiple" id="AddResponsiblePerson_ListOfValues"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="AddResponsiblePerson_AddBtn">
            إضافة
        </div>
    </center>
    <br />
    <br />
    <div id="AddResponsiblePerson_ValuesTemp" style="display:none">
        <option value="${Id}">${NameAr}</option>
    </div>
</div>