﻿<div id="AutoRegisterationError" class="DivContainerClass">
    <div style="color:red; font-size:x-large">
        Your number of trials have been exceeded. Please contact GPSSA office for assistance
    </div>
    <br />
    <center>
        <div class="BtnClass" id="AutoRegisterationError_Home">
            Home
        </div>
    </center>
</div>