﻿<div id="AutoRegisterationError" class="DivContainerClass">
    <div style="color:red; font-size:x-large">
        لقد تجاوزت عدد المحاولات . من فضلك تواصل مع مكتب الهيئة للمساعدة
    </div>
    <br />
    <center>
        <div class="BtnClass" id="AutoRegisterationError_Home">
            الرئيسية
        </div>
    </center>
</div>