﻿<div id="AutoRegisteration" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                User Type
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" data-native-menu="false" id="AutoRegisteration_UserType">
                    <option value="-1">Select Type</option>
                    <option>Employer</option>
                    <option disabled>Insured</option>
                    <option disabled>Pensioner</option>
                    <option disabled>Beneficiary</option>
                    <option disabled>Agent</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Authorization Code
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="AutoRegisteration_AuthinticationCode" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Employer Number
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="AutoRegisteration_EmployerNumber" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="AutoRegisteration_NextBtn">
            Next
        </div>
    </center>
</div>