﻿<div id="AutoRegisterationStep2" class="DivContainerClass">
    <div id="AutoRegisterationStep2_EmployerName" style="color: #cc0000; text-shadow: none; text-align: right; font-size: 20px !important; margin-bottom: 8px;"></div>

    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم الهوية
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="tel" id="AutoRegisterationStep2_EmiratesID" style="border:0px; width:85%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الاول
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AutoRegisterationStep2_FirstName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الثانى
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AutoRegisterationStep2_SecondName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الثالث
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AutoRegisterationStep2_ThirdName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم الرابع
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AutoRegisterationStep2_FourthName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
               الهاتف المحمول
            </td>
            <td style="width:40%;" class="InputClass">
                <input type="tel" id="AutoRegisterationStep2_MobNo" maxlength="16" style="border: 0px; width: 85%;direction: ltr;" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
            <td style="width:1%"></td>
            <td style="width:19%" class="InputFileClass">
                <select style="direction: ltr; border: none; width: 100%; " id="AutoReg2_Mobile_CountryCodeDDL"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                البريد الالكتروني
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="email" id="AutoRegisterationStep2_email" style="border:0px; width:90%" onblur="AutoRegisteration.ValidateEmailInDB('AutoRegisterationStep2_email')" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم الهاتف الارضي
            </td>
            <td style="width:40%;" class="InputClass">
                <input type="tel" id="AutoRegisterationStep2_LandLine" style="direction: ltr;border:0px; width:85%" pattern="[0-9]*" maxlength="16" onkeypress="return isNumber(event);" />
            </td>
            <td style="width:1%"></td>
            <td style="width:19%" class="InputFileClass">
                <select style="direction: ltr; border: none; width: 100%; " id="AutoReg2_LandLine_CountryCodeDDL"></select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                تاريخ الميلاد
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="date" class="datepicker" id="AutoRegisterationStep2_BirthDate" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>

        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اللغة
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" data-native-menu="false" id="AutoRegisterationStep2_PreferredLang">
                    <option value="-1">اختر اللغة</option>
                    <option value="En">الانجليزية</option>
                    <option value="Ar">العربية</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                طريقة التواصل
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" data-native-menu="false" id="AutoRegisterationStep2_PreferredContactMethod">
                    <option value="-1">اختر طريقة التواصل</option>
                    <option value="Mobile">الهاتف المحمول</option>
                    <option value="Email">البريد الالكترونى</option>
                    <option value="Landline">الهاتف الارضى</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="AutoRegisterationStep2_NextBtn">
            التالى
        </div>
        <br />
        <div class="BtnClass" id="AutoRegisterationStep2_BackBtn">
            عودة
        </div>
    </center>
    <br />
</div>