﻿<div id="AutoRegisterationStep2" class="DivContainerClass">

    <div id="AutoRegisterationStep2_EmployerName" style="color: #cc0000; text-shadow: none; text-align: left; font-size: 20px !important; margin-bottom: 8px;"></div>

    
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Emirates ID
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="tel" id="AutoRegisterationStep2_EmiratesID" style="border:0px; width:85%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                First Name
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AutoRegisterationStep2_FirstName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Second Name
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AutoRegisterationStep2_SecondName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Third Name
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AutoRegisterationStep2_ThirdName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Fourth Name
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="AutoRegisterationStep2_FourthName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Mobile Number
            </td>
            <td style="width: 19%" class="InputFileClass">
                <select style="border: none;width:100%" id="AutoReg2_Mobile_CountryCodeDDL"></select>
            </td>
            <td style="width:1%"></td>
            <td style="width:40%;" class="InputFileClass">
                <input type="tel" id="AutoRegisterationStep2_MobNo" style="border:0px; width:85%" maxlength="16" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                E-mail
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="email" id="AutoRegisterationStep2_email" style="border:0px; width:90%" onblur="AutoRegisteration.ValidateEmailInDB('AutoRegisterationStep2_email')" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Land Line
            </td>
            <td style="width: 19%" class="InputFileClass">
                <select style="border: none;width:100%" id="AutoReg2_LandLine_CountryCodeDDL"></select>
            </td>
            <td style="width:1%"></td>
            <td style="width:40%;" class="InputFileClass">
                <input type="tel" id="AutoRegisterationStep2_LandLine" style="border:0px; width:85%" pattern="[0-9]*" maxlength="16" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Birth Date
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="date" class="datepicker" id="AutoRegisterationStep2_BirthDate" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Preferred Language
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" data-native-menu="false" id="AutoRegisterationStep2_PreferredLang">
                    <option value="-1">Select Language</option>
                    <option value="En">English</option>
                    <option value="Ar">Arabic</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Preferred Contact Method
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" data-native-menu="false" id="AutoRegisterationStep2_PreferredContactMethod">
                    <option value="-1">Select Method</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Email">E-mail</option>
                    <option value="Landline">Landline</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="AutoRegisterationStep2_NextBtn">
            Next
        </div>
        <br />
        <div class="BtnClass" id="AutoRegisterationStep2_BackBtn">
            Back
        </div>
    </center>
    <br />
</div>