﻿<div id="AutoRegisterationStep3" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                ادخال رقم تأكيد
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="AutoRegisterationStep3_Code" style="border:0px; width:90%" pattern="[0-9]*" maxlength="5" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم تأكيد
            </td>
            <td style="width:60%;" class="InputClass">
                <label id="AutoRegistrationCode"></label>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td colspan="2" style="color: red; text-align: center">
                لم يتم استلام رقم التأكيد؟
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td colspan="2" style="color: red; text-align: center">
                <div style="text-decoration:underline" id="AutoRegisterationStep3_Resend">
                    إعادة ارسال رقم التأكيد
                </div>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="AutoRegisterationStep3_NextBtn">
            التالى
        </div>
        <br />
        <div class="BtnClass" id="AutoRegisterationStep3_BackBtn">
            عودة
        </div>
    </center>
    <br />
</div>