﻿<div id="AutoRegisteration" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                نوع المستخدم
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" data-native-menu="false" id="AutoRegisteration_UserType">
                    <option value="-1">اختر نوع</option>
                    <option>صاحب العمل</option>
                    <option disabled>مؤمن عليه</option>
                    <option disabled>متقاعد</option>
                    <option disabled>مستفيد</option>
                    <option disabled>عميل</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                كود الترخيص
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="AutoRegisteration_AuthinticationCode" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
             رقم صاحب العمل
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="AutoRegisteration_EmployerNumber" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="AutoRegisteration_NextBtn">
            التالى
        </div>
    </center>
</div>