﻿<div id="CaseFollowUP" class="DivContainerClass">
    <center>
        <div class="LblDivContentClass">
            <table style="width:90%" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="PensionCalcResultTR">
                        Case Number:
                    </td>
                    <td class="PensionCalcResultTR2">
                        <div id="CaseFollowUp_lblCaseNo" style="word-wrap: break-word;"></div>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Service Name:
                    </td>
                    <td class="PensionCalcResultTR2">
                        <div id="CaseFollowUp_lblServiceName" style="word-wrap: break-word;width:70%"></div>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Case Status:
                    </td>
                    <td class="PensionCalcResultTR2">
                        <div id="CaseFollowUp_lblCaseStatus" style="word-wrap: break-word;"></div>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Last Updated:
                    </td>
                    <td class="PensionCalcResultTR2">
                        <div id="CaseFollowUp_lblLastUpdated" style="word-wrap: break-word;"></div>
                    </td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Notes:
                    </td>
                    <td style=" color: gray; height: 120px !important; width: 60% !important;">
                        <div id="CaseFollowUp_lblNotes" style="word-wrap: break-word;width:70%"></div>
                    </td>
                </tr>
            </table>
        </div>
    </center>
    <br />
    <center>
        <div class="BtnClass" id="CaseFollowUp_BackBtn">
            Back
        </div>
    </center>
</div>