﻿<div id="Complaints" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                النوع
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" id="ComplaintsTypeDropDown">
                    <option value="-1">اختر النوع</option>
                    <option value="Complaint">شكوى</option>
                    <option value="Feedback">اقتراح</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                النوع الفرعى
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width: 100%; border: none" id="ComplaintsSubTypeDropDown_Complaint">
                    <option value="-1">اختر النوع الفرعى</option>
                    <option value="Complaint">شكوى</option>
                </select>
                <select style="width: 100%; border: none" id="ComplaintsSubTypeDropDown_Feedback">
                    <option value="-1">اختر النوع الفرعى</option>
                    <option value="Feedback">اقتراح</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الاسم بالكامل
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="Complaints_FullName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الهاتف المحمول
            </td>
            <td style="width:40%;" class="InputClass">
                <input type="tel" id="Complaints_Mobile" style="width: 85%; direction: ltr; border:none !important; " maxlength="16" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
            <td style="width:1%"></td>
            <td style="width:19%" class="InputFileClass">
                <select style="direction: ltr; border: none; width: 100%; " id="Complaints_Mobile_CountryCodeDDL">
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                البريد الإلكترونى
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="email" id="Complaints_Email" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass" >
            <td class="CaseFollowUpTDClass">
                ارفاق ملف
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <table>
                    <tr>
                        <td>
                            <div class="browse-wrap">
                                <div>
                                    <img src="Images/upload.png" style="height:35px; width:35px;" onclick="">
                                </div>
                                <input type="file" id="Complaints_upload" name="Complaints_upload" style="height: 40px; width: 40px;" class="upload" title="">
                            </div>
                        </td>
                        <td></td>
                        <td>
                            <div>
                                <img src="Images/cam.png" id="Complaints_CamUpload" style="height:35px; width:35px; z-index:2000000">
                            </div>
                        </td>
                        <td id="Complaints_CheckMark" style="display:none">
                            <img src="Images/CheckMark.png" style="height:35px; width:35px; z-index:2000000">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                المحتوى
            </td>
            <td colspan="3"></td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr>
            <td class="InputClass" style="width: 60%; border-right: 2px solid #BA4848; border-top-right-radius: 5px; border-bottom-right-radius: 5px;" colspan="4">
                <table style="width:100%">
                    <tr>
                        <td><textarea id="ComplaintsContent" style="height:150px; width:98%; border:none"></textarea></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="SendComplaintsBtn">
            إرسال
        </div>
    </center>
    <br />
</div>