﻿<div id="Help" class="DivContainerClass">
    <div class="flexslider" id="NewsSliderContent" style="margin-bottom: 5%; background-color: transparent; color: white; text-shadow: none">
        <!-- slider -->
        <ul class="slides">
            <li>
                <img src="Images/AboutGPSSA_En.jpg" class="HelpImages" />
            </li>
            <li>
                <img src="Images/Home_english.jpg" class="HelpImages" />
            </li>
            <li>
                <img src="Images/Home_english2.jpg" class="HelpImages" />
            </li>
            
            <li>
                <img src="Images/Login.jpg" class="HelpImages" />
            </li>
            <li>
                <img src="Images/Services.jpg" class="HelpImages" />
            </li>
            <li>
                <img src="Images/FeedBack.jpg" class="HelpImages" />
            </li>
        </ul>
    </div>
</div>