﻿<div id="Help" class="DivContainerClass">
    <div class="flexslider" id="NewsSliderContent" style="margin-bottom: 5%; background-color: transparent; color: white; text-shadow: none">
        <!-- slider -->
        <ul class="slides">
            <li>
                <img src="Images/AboutGPSSA_Ar.jpg" class="HelpImages" />
            </li>
            <li>
                <img src="Images/Home_arabic.jpg" class="HelpImages" />
            </li>
            <li>
                <img src="Images/Home_arabic2.jpg" class="HelpImages" />
            </li>
            
            <li>
                <img src="Images/Login_Ar.jpg" class="HelpImages" />
            </li>
            <li>
                <img src="Images/Services_Ar.jpg" class="HelpImages" />
            </li>
            <li>
                <img src="Images/FeedBack -Aabic.jpg" class="HelpImages" />
            </li>
        </ul>
    </div>
</div>