﻿<div id="Login2" class="DivContainerClass">
    <img src="Images/LoginLogo.png" />
    <br />
    <br />
    <div class="LblDivContentClass">
        <table style="width:90%" cellspacing="0" cellpadding="0">
            <tr>
                <td>مرحبا:</td>
                <td id="Login2_Username"></td>
            </tr>
        </table>
    </div>
    <br />
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                الرقم السرى
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login_PinCode" style="border:0px; width:90%" maxlength="4" placeholder="الرقم السرى" pattern="[0-9]*" onkeyup="isNumeric(this);" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="height:10px"></td>
        </tr>
        <tr>
            <td colspan="2" style="color: red; font-size: smaller; text-align:center; display:none" id="LoginFirstTimeTxt">
                يجب عليك إدخال الرقم السرى المكون من 4 أرقام التي سيتم استخدامها لتسجيل الدخول في كل مرة تقوم فيها بفتح التطبيق
            </td>
        </tr>
        <tr style="height:30px">
            <td colspan="2"></td>
        </tr>
    </table>
    <center>
        <div style="width:90%">
            <a href="#" id="Login2_LoginWithAnotherUsername">الدخول باسم مستخدم مختلف</a>
            <br />
            <br />
            <a href="#" id="Login2_ForgetPin">نسيت الرقم السرى</a>
			<br />
            <br />
			<a href="#" id="Login2_ChangePassword">تغيير كلمة المرور</a>
			<br />
        </div>
    </center>
    <br />
    <center>
        <div class="BtnClass" id="Login2_LoginBtn">
            دخول
        </div>
    </center>
</div>