﻿<div id="Login" class="DivContainerClass">
    <img src="Images/LoginLogo.png" />
    <br />
    <br />
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اسم المستخدم
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="Login_Username" style="border:0px; width:90%" placeholder="اسم المستخدم" />
            </td>
        </tr>
        <tr style="height:30px;">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                كلمة المرور
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login_Password" style="border:0px; width:90%" placeholder="كلمة المرور" />
            </td>
        </tr>
        <tr style="height:30px;">
            <td colspan="2"></td>
        </tr>
    </table>
    <center>
        <div style="width:90%">
            <a href="#" id="Login_ForgetPassword">إسترجاع كلمة المرور</a>
            <br />
            <br />
            <a href="#" id="Login_ChangePassword">تغيير كلمة المرور</a>
        </div>
    </center>
    <br />
    <center>
        <div class="BtnClass" id="Login_LoginBtn">
            التالى
        </div>
    </center>
    <br />
</div>