﻿<div id="Login4" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass Login4Inputs ForgetPassword">
            <td class="CaseFollowUpTDClass">
                Contact Method
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:98%; border:none" data-native-menu="false" id="Login4_ContactMethod">
                    <option value="-1">Select Method</option>
                    <option value="email">E-mail</option>
                    <option value="sms">Mobile</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ForgetPassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ForgetPassword">
            <td class="CaseFollowUpTDClass">
                E-mail
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="email" id="Login4_email" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ForgetPassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                User name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="Login4_Username" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                Old Password
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login4_OldPassword" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                New Password
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login4_NewPassword" style="border:0px; width:98%; height:100%" data-display="Login4_PasswordStrength" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                Password Confirmation
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login4_NewPasswordConfirmation" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass Login4Inputs ChangePassword">
            <td class="CaseFollowUpTDClass">
                Password Strength
            </td>
            <td style="width:60%;" class="InputClass">
                <div id="Login4_PasswordStrength"></div>
            </td>
        </tr>
        <tr class="SpaceClass Login4Inputs ChangePassword">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass ForgetPassword Login4Inputs" id="Login4_ResetPassword">
            Reset
        </div>
        <div class="BtnClass ChangePassword Login4Inputs" id="Login4_ConfirmChangePassword">
            Confirm
        </div>
    </center>
    <br />
</div>