﻿<div id="Login3" class="DivContainerClass">
    <img src="Images/LoginLogo.png" />
    <br />
    <br />
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                ادوار المستخدم
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" data-native-menu="false" id="Login3_RolesDropDown">
                    <option value="-1">اختر دور</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="Login3_ContinueBtn">
            إستمرار
        </div>
    </center>
</div>