﻿<div id="Login" class="DivContainerClass">
    <img src="Images/LoginLogo.png" />
    <br />
    <br />
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                User name
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="Login_Username" style="border:0px; width:90%" placeholder="User name" />
            </td>
        </tr>
        <tr style="height:30px; ">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Password
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="password" id="Login_Password" style="border:0px; width:90%" placeholder="Password" />
            </td>
        </tr>
        <tr style="height:30px;">
            <td colspan="2"></td>
        </tr>
    </table>
    <center>
        <div style="width:90%">
            <a href="#" id="Login_ForgetPassword">Forget Password</a>
            <br />
            <br />
            <a href="#" id="Login_ChangePassword">Change Password</a>
        </div>
    </center>
    <br />
    <center>
        <div class="BtnClass" id="Login_LoginBtn">
            Next
        </div>
    </center>
    <br />
</div>