﻿<div id="PensionCalculation" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                السن
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationAge" style="border: 0px; width: 90%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                قطاع الأعمال
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="PensionCalculation_Sector" onchange="PensionCalculation.HandleSectorChanged();">
                    <option value="-1">اختر قطاع</option>
                    <option value="prv">قطاع الاعمال الخاص</option>
                    <option value="gov">حكومى</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                متوسط الراتب
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationSalaryMedian" style="border: 0px; width: 90%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;padding-top:10px;" id="PensionCalcText"></td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                عدد السنين
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationServiceYears" style="border: 0px; width: 90%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                عدد الشهور
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationServiceMonths"  style="border: 0px; width: 90%" pattern="[1-12]" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                عدد الايام
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="PensionCalculationServiceDays" style="border: 0px; width: 90%" pattern="[0-31]" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="CalculatePensionBtn">
            حساب معاش
        </div>
    </center>
</div>