﻿<div id="PensionCalcResult" class="DivContainerClass">
    <center>
        <div class="LblDivContentClass">
            <table style="width:90%" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="PensionCalcResultTR">
                        Age:
                    </td>
                    <td class="PensionCalcResultTR2" id="AgeResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Sector:
                    </td>
                    <td class="PensionCalcResultTR2" id="SectorResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Salary Median:
                    </td>
                    <td class="PensionCalcResultTR2" id="SalaryMedianResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Service Years:
                    </td>
                    <td class="PensionCalcResultTR2" id="ServiceYearsResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Service Months:
                    </td>
                    <td class="PensionCalcResultTR2" id="ServiceMonthsResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Service Days:
                    </td>
                    <td class="PensionCalcResultTR2" id="ServiceDaysResult"></td>
                </tr>
                <tr class="PensionCalcResultTR3">
                    <td colspan="2"></td>
                </tr>
                <tr style="height:10px"> </tr>
                <tr>
                    <td class="PensionCalcResultTR">
                        Expected Pension Settlement:
                    </td>
                    <td class="PensionCalcResultTR2" id="ExpectedPensionSettlementResult"></td>
                </tr>
                <tr style="height:10px"> </tr>
            </table>
        </div>
        <div style="color: red; text-align: center; padding-top: 10px;">
            Please follow up with the Human Resources Department at your entity to validate the information as GPSSA will not be liable for its validity.</div>
        <br />
        <div class="BtnClass" id="BackPensionResultBtn">
            Back
        </div>
        <br />
    </center>
</div>