﻿<div id="Preferences" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Preferred Language
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="Preference_Language">
                    <option value="-1">Select Language</option>
                    <option value="En">English</option>
                    <option value="Ar">Arabic</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                Preferred Contact
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="Preference_Contact">
                    <option value="-1">Select Contact</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Email">E-mail</option>
                    <option value="Landline">Landline</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="PreferencesSaveBtn">
            Save
        </div>
    </center>
</div>
