﻿<div id="Registration" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                نوع القطاع
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="RegistrationEntityTypeDropDown" onchange="RegistrationModule.HandleEntityTypeDropDownSelectChanged();">
                    <option value="-1">اختر نوع القطاع</option>
                    <option value="خاص">خاصة</option>
                    <option value="حكومة اتحادية">هيئة اتحادية</option>
                    <option value="حكومة محلية">هيئة محلية</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                نوع القطاع الفرعى
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" disabled="disabled" class="RegEntityDropDowns" id="RegistrationEntitySubTypeDropDown_Private" onchange="RegistrationModule.HandleEntitySubTypeDropDownSelectChanged('RegistrationEntitySubTypeDropDown_Private')">
                    <option value="-1">اختر القطاع الفرعى</option>
                    <option value="خاص" class="Private">خاصة</option>
                </select>
                <select style="width:100%; border:none; display:none" disabled="disabled" class="RegEntityDropDowns" id="RegistrationEntitySubTypeDropDown_Federal" onchange="RegistrationModule.HandleEntitySubTypeDropDownSelectChanged('RegistrationEntitySubTypeDropDown_Federal')">
                    <option value="-1">اختر القطاع الفرعى</option>
                    <option value="منشأة" class="Federal">المؤسسات</option>
                    <option value="وزارات" class="Federal">الوزارات</option>
                </select>
                <select style="width:100%; border:none; display:none" disabled="disabled" class="RegEntityDropDowns" id="RegistrationEntitySubTypeDropDown_Local" onchange="RegistrationModule.HandleEntitySubTypeDropDownSelectChanged('RegistrationEntitySubTypeDropDown_Local')">
                    <option value="-1">اختر القطاع الحكومى الفرعى</option>
                    <option value="حكومي" class="Local">الحكومة</option>
                    <option value="مستقل" class="Local">مستقلة</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass" id="EmirateTR" style="display:none">
            <td class="CaseFollowUpTDClass">
                الإمارة
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="EmirateDropDown" onchange="RegistrationModule.HandleEmirateDropDownChanged()">
                    <option value='-1'>اختر الإمارة</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass" id="GCCTR">
            <td class="CaseFollowUpTDClass">
                عدد موظفي المجلس
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep2_GCCCount" style="border:0px; width:90%" pattern="[0-9]*" value="0" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr id="RegistrationStep2_GCCTextTR">
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;">
                دول مجلس التعاون الخليجي هي المملكة السعودية، عمان، الكويت، قطر، والبحرين فقط
            </td>
        </tr>
        <tr class="TRClass" id="EmiratisCountTR">
            <td class="CaseFollowUpTDClass">
                عدد الاماراتيين
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep2_EmiratisCount" style="border:0px; width:90%" pattern="[0-9]*" value="0" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr id="RegistrationStep2_EmiratisTextTR">
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;">
                لكل مواطن يجب وجود رقم خلاصة القيد
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="RegisterNextBtn">
            التالى
        </div>
    </center>
</div>