﻿<div id="RegistrationStep2" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                GCC Nationality Available?
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="RegistrationStep2_GCCNationalityDropDown" onchange="RegistrationModule.HandleGCCNationalityDropDownSelectChanged();">
                    <option value="-1">Select Option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass" id="GCCTR">
            <td class="CaseFollowUpTDClass">
                GCC Nationality Employee Count
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep2_GCCCount" style="border:0px; width:90%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr id="RegistrationStep2_GCCTextTR" style="display: none">
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;">
                GCC Countries are Saudi Arabia, Oman, Kuwait, Qatar, and Bahrain Only
            </td>
        </tr>
        <tr class="TRClass" style="display:none" id="EmiratisCountTR">
            <td class="CaseFollowUpTDClass">
                Emiratis Employees Count
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep2_EmiratisCount" style="border:0px; width:90%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr id="RegistrationStep2_EmiratisTextTR" style=" display: none">
            <td colspan="2" style="color: red; font-size: smaller; text-align:center;">
                For any national employee, a Family Book ID is required
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="RegistrationStep2NextBtn">
            Next
        </div>
        <br />
        <div class="BtnClass" id="RegistrationStep2BackBtn">
            Back
        </div>
    </center>
</div>