﻿<div id="RegistrationStep4" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اسم المنشاة بالإنجليزية
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="RegistrationStep4_EnglishName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                اسم المنشاة بالعربية
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="RegistrationStep4_ArabicName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                نوع الفرع
            </td>
            <td style="width:60%;" class="InputClass">
                <select style="width:100%; border:none" id="RegistrationStep4_EntityTypeDropDown">
                    <option value="-1">اختر النوع</option>
                    <option value="false">المقر الرئيسي</option>
                    <option value="true">فرع</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                نوع الرخصة
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="RegistrationStep4_LicenseType" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                جهة الترخيص
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="RegistrationStep4_LicensingAuthority" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم الترخيص
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="number" id="RegistrationStep4_LicenseNo" style="border:0px; width:90%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                رقم بطاقة المنشأة
            </td>
            <td style="width:60%;" class="InputClass">
                <input type="text" id="RegistrationStep4_EntityID" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="2"></td>
        </tr>
    </table>
    <br />
    <center>
        <div class="BtnClass" id="RegistrationStep4_NextBtn">
            التالى
        </div>
        <br />
        <div class="BtnClass" id="RegistrationStep4_BackBtn">
            العودة
        </div>
    </center>
    <br />
</div>