﻿<div id="RegistrationStep6" class="DivContainerClass">
    <center>
        <div style="width: 100%; text-align: center; color: #862826; font-size: larger;">Authorized Person Information</div>
        <div id="RegistrationStep6_FieldsDiv">
            <table style="width: 97%; " cellspacing="0" cellpadding="0">
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        First Name
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <input type="text" id="RegistrationStep6_firstname" style="border:0px; width:90%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Second Name
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <input type="text" id="RegistrationStep6_SecondName" style="border:0px; width:90%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Third Name
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <input type="text" id="RegistrationStep6_ThirdName" style="border:0px; width:90%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Fourth Name
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <input type="text" id="RegistrationStep6_FourthName" style="border:0px; width:90%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Birth Date
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <input type="date" class="datepicker" id="RegistrationStep6_BirthDate" style="border:0px; width:90%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Emirates ID
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <input type="tel" id="RegistrationStep6_EmiratesID" style="border:0px; width:85%" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Mobile
                    </td>
                    <td style="width: 19%" class="InputFileClass">
                        <select style="border: none;width:100%" id="RegistrationStep6_Mobile_CountryCodeDDL"></select>
                    </td>
                    <td style="width:1%"></td>
                    <td style="width:40%;" class="InputFileClass">
                        <input type="tel" id="RegistrationStep6_MobileNo" style="border:0px; width:85%" maxlength="16" pattern="[0-9]*" onkeypress="return isNumber(event);" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Land Line
                    </td>
                    <td style="width: 19%" class="InputFileClass">
                        <select style="border: none;width:100%" id="RegistrationStep6_Landline_CountryCodeDDL"></select>
                    </td>
                    <td style="width:1%"></td>
                    <td style="width:40%;" class="InputFileClass">
                        <input type="tel" id="RegistrationStep6_LandLine" style="border:0px; width:85%" pattern="[0-9]*" maxlength="16" onkeypress="return isNumber(event);" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        E-mail
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <input type="email" id="RegistrationStep6_Email" style="border:0px; width:90%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Job Title
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <input type="text" id="RegistrationStep6_JobTitle" style="border:0px; width:90%" />
                    </td>
                </tr>
                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr class="TRClass">
                    <td class="CaseFollowUpTDClass">
                        Signature
                    </td>
                    <td style="width:60%;" class="InputClass" colspan="3">
                        <table>
                            <tr>
                                <td>
                                    <div class="browse-wrap">
                                        <div>
                                            <img src="Images/upload.png" style="height:35px; width:35px;" onclick="">
                                        </div>
                                        <input onclick="RegistrationModule.addClickEventForFileChooser('RegistrationStep6_File')" type="file" id="RegistrationStep6_File" name="RegistrationStep6_File" style="height: 40px; width: 40px;" class="upload">
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div>
                                        <img src="Images/cam.png" id="RegistrationCamUpload" style="height:35px; width:35px; z-index:2000000" />
                                    </div>
                                </td>
                                <td id="RegistrationCheckMark" style="display:none">
                                    <img src="Images/CheckMark.png" style="height:35px; width:35px; z-index:2000000">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="SpaceClass">
                    <td colspan="4"></td>
                </tr>
                <tr style="text-align:center">
                    <td colspan="4">
                        <input type="button" id="RegistrationStep6_AddBtn" value="Add" style="background-color: #862826; color: white; " />
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div id="RegistrationStep6_PersonsDiv">
        </div>
        <!-- missing upload form -->
    <table style="width:100%" cellspacing="0" cellpadding="0">

        <tr class="TRClass">
            <td class="CaseFollowUpTDClass" id="reqDocsToHide">
                Required Doc
            </td>
            <td colspan="3"></td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <!-- all in one file start -->
        <tr id="AllFilesInOne_TR">
            <td class="InputFileClass" colspan="4" style="color: #862826; height: 40px; ">
                <input type="checkbox" id="AllFilesInOne" onchange="RegistrationModule.allFilesCheckOnChange()">
                upload only one file
            </td>
        </tr>

        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <!-- all in one file end -->
        <tr>
            <td class="InputFileClass" style="width: 60%; border-left: 2px solid #BA4848;border-right: 2px solid #BA4848; border-top-left-radius: 5px; border-bottom-left-radius: 5px; " colspan="4" id="reqDocsToHide_BR">
                <table style="width:100%">
                    <tr>
                        <td>
                            <div id="UpdateEmployerDetails_RequiredDoc" style="height: auto;overflow: scroll; "></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>

    </table>

<!-- missing upload form -->

        <div id="RegistrationStep6_ButtonDiv">
            <center>
                <div class="BtnClass" id="RegistrationStep6NextBtn">
                    Submit
                </div>
                <br />
                <div class="BtnClass" id="RegistrationStep6BackBtn">
                    Back
                </div>
            </center>
            <br />
        </div>
        <div style="display:none" id="RegistrationStep6_PersonTemplate">
            <div style="margin-bottom:2%" id="RegistrationStep6_#ID#">
                <table class="LblDivContentClass" style="width:90%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>#Name#</td>
                        <td onclick="RegistrationModule.DeletePerson('#ID#')" style="width:30px">
                            <img src="Images/DeletIcon.png" style="width: 25px; height: 25px; margin-top: 2%; margin-bottom: -8%;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </center>
</div>


<!-- all in one template -->
<div id="UpdateEmployerDetails_File_Temp" style="display:none">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr onclick="">
            <td style="color: #862826; height: 40px; ">upload file </td>
                <td style="width:50%">
                    <table>
                        <tr>
                            <td>
                                <div class="browse-wrap">
                                    <div>
                                        <img src="Images/upload.png" style="height:35px; width:35px;" onclick="">
                                    </div>
                                    <input type="file" onclick="RegistrationModule.addClickEventForFileChooser('allFilesInOne_upload')"  id="allFilesInOne_upload" name="allFilesInOne_upload" style="height: 40px; width: 40px;" class="upload"
                                    title="">
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div>
                                    <img src="Images/cam.png" id="allFilesInOne_CamUpload"
                                    style="height:35px; width:35px; z-index:2000000" onclick=""/>
                                </div>
                            </td>
                            <td  class="uploadTick requiredTick"  id="allFilesInOne_CheckMark"  style="display:none" >
                                <img src="Images/CheckMark.png" style="height:35px; width:35px; z-index:2000000">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- all in one template -->