﻿<div id="ServicesList" class="DivContainerClass" style="margin-top: -15px; text-shadow:none !important;">
    <table id="ServicesList_Tabs_PreLogin" style="width: 100%; background-color: white; overflow: hidden;" cellspacing="0" cellpadding="0">
        <tr>
            <td class="ActiveTabClass ServicesTabs" id="ServicesList_UserTypeTab" onclick="ServicesList.HandleServicesListTabClicked('ServicesList_UserTypeTab')">
                User Type
            </td>
            <td class="TabClass ServicesTabs" id="ServicesList_AlphabeticallyTab" onclick="ServicesList.HandleServicesListTabClicked('ServicesList_AlphabeticallyTab')">
                Alphabetically
            </td>
        </tr>
    </table>
    <table id="ServicesList_Tabs_PostLogin" style="width: 100%; background-color: white; overflow: hidden; display:none" cellspacing="0" cellpadding="0">
        <tr>
            <td class="ActiveTabClass ServicesTabs" id="ServicesList_MyServicesTab_PostLogin" onclick="ServicesList.HandleServicesListTabClicked('ServicesList_MyServicesTab_PostLogin')">
                My Services
            </td>
            <td class="TabClass ServicesTabs" id="ServicesList_UserTypeTab_PostLogin" onclick="ServicesList.HandleServicesListTabClicked('ServicesList_UserTypeTab_PostLogin')">
                User Type
            </td>
            <td class="TabClass ServicesTabs" id="ServicesList_AlphabeticallyTab_PostLogin" onclick="ServicesList.HandleServicesListTabClicked('ServicesList_AlphabeticallyTab_PostLogin')">
                Alphabetically
            </td>
          
        </tr>
    </table>
    <br />
    <div class="ServiceListContent" id="ServicesList_UserTypeTab_Content" style="overflow:scroll">
        <div class="LblDivContentClass" id="ServicesList_UserTypeTab_Beneficiary" onclick="ServicesList.ShowUserTypeContent('ServicesList_UserTypeTab_Beneficiary_Content')">
            <table style="width:100%">
                <tr>
                    <td style="width:100%; text-align:center">Beneficiary</td>
                    <td>
                        <img src="Images/Arrow.png" style="width:30px; height:30px" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="ServicesList_UserTypeTab_Beneficiary_Content" class="LblDivContentClass UserTypeContent" style="overflow:scroll; border:0px !important; display:none"></div>
        <br />
        <div class="LblDivContentClass" id="ServicesList_UserTypeTab_Employer" onclick="ServicesList.ShowUserTypeContent('ServicesList_UserTypeTab_Employer_Content')">
            <table style="width:100%">
                <tr>
                    <td style="width:100%; text-align:center">Employer</td>
                    <td>
                        <img src="Images/Arrow.png" style="width:30px; height:30px" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="ServicesList_UserTypeTab_Employer_Content" class="LblDivContentClass UserTypeContent" style="overflow:scroll; border:0px !important; display:none"></div>
        <br />
        <div class="LblDivContentClass" id="ServicesList_UserTypeTab_GCC" onclick="ServicesList.ShowUserTypeContent('ServicesList_UserTypeTab_GCC_Content')">
            <table style="width:100%">
                <tr>
                    <td style="width:100%; text-align:center">GCC</td>
                    <td>
                        <img src="Images/Arrow.png" style="width:30px; height:30px" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="ServicesList_UserTypeTab_GCC_Content" class="LblDivContentClass UserTypeContent" style="overflow: scroll; border: 0px !important; display: none"></div>
        <br />
        <div class="LblDivContentClass" id="ServicesList_UserTypeTab_Insured" onclick="ServicesList.ShowUserTypeContent('ServicesList_UserTypeTab_Insured_Content')">
            <table style="width:100%">
                <tr>
                    <td style="width:100%; text-align:center">Insured</td>
                    <td>
                        <img src="Images/Arrow.png" style="width:30px; height:30px" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="ServicesList_UserTypeTab_Insured_Content" class="LblDivContentClass UserTypeContent" style="overflow:scroll; border:0px !important; display:none"></div>
        <br />
        <div class="LblDivContentClass" id="ServicesList_UserTypeTab_Pensioner" onclick="ServicesList.ShowUserTypeContent('ServicesList_UserTypeTab_Pensioner_Content')">
            <table style="width:100%">
                <tr>
                    <td style="width:100%; text-align:center">Pensioner</td>
                    <td>
                        <img src="Images/Arrow.png" style="width:30px; height:30px" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="ServicesList_UserTypeTab_Pensioner_Content" class="LblDivContentClass UserTypeContent" style="overflow: scroll; border: 0px !important; display: none"></div>
    </div>
    <div class="LblDivContentClass ServiceListContent" id="ServicesList_AlphabeticallyTab_Content" style="overflow:scroll; display:none">
    </div>
    <div class="LblDivContentClass ServiceListContent" id="ServicesList_MyServicesTab_Content" style="overflow:scroll; display:none">
    </div>
    <div id="ServicesList_Temp" style="display:none">
        <table style="width:90%" cellspacing="0" cellpadding="0">
            <tr onclick="ServicesList.OpenServiceDetails('#ID#')">
                <td style="color: #862826; height: 40px; width: 100%;">
                    #Name#
                </td>
                <td>
                    <img src="Images/view-icon.png" style="height:35px; width:35px" />
                </td>
            </tr>
            <tr class="PensionCalcResultTR3">
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
    <div id="ServicesList_Temp_Alpha" style="display:none">
        <table style="width:90%" cellspacing="0" cellpadding="0">
            <tr onclick="ServicesList.OpenServiceDetails('${Id}')">
                <td style="color: #862826; height: 40px; width: 100%;">
                    ${Name}
                </td>
                <td>
                    <img src="Images/view-icon.png" style="height:35px; width:35px" />
                </td>
            </tr>
            <tr class="PensionCalcResultTR3">
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
    <div id="MyServicesList_Temp" style="display:none">
        <table style="width:90%" cellspacing="0" cellpadding="0">
            <tr onclick="ServicesList.OpenMyService('${Id}')">
                <td style="color: #862826; height: 40px; width: 100%;">
                    ${Name}
                </td>
                <td>
                    <img src="Images/view-icon.png" style="height:35px; width:35px" />
                </td>
            </tr>
            <tr class="PensionCalcResultTR3">
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
</div>