﻿<div id="ServiceDetails" class="DivContainerClass">
    <center> 
        <div id="ServiceNameDiv">
            <!--<label class="ServiceDetailsMainTitle" style="text-align:left">Service Name</label>-->
            <div id="ServiceName" class="ServiceDetailsMainTitle" style="text-align: center; text-shadow: none !important;font-size:20px !important;">
            </div>
        </div>
        <br />
        
        <div id="ServiceDescriptionDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Service Description</label>
            <div id="ServiceDescription" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        
        <br />
        <div id="CustomerServiceContactDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Customer Service Contact</label>
            <div id="CustomerServiceContact" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        <br />
        
        <div id="DepartmentDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Department</label>
            <div id="Department" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        
        <br />
        <div id="EstimatedServiceDurationDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Estimated Service Duration</label>
            <div id="EstimatedServiceDuration" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
       
        <br />
        <div id="GPSSAOfficesDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">GPSSA Offices</label>
            <div id="GPSSAOffices" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
       
        <br />
        <div id="OfficerInChargeDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Officer InCharge</label>
            <div id="OfficerInCharge" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        <br />
        
        <div id="RequiredDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Required</label>
            <div id="Required" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        <br />
       
        <div id="RequiredDocumentsDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Required Documents</label>
            <div id="RequiredDocuments" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        <br />
        
        <div id="ServiceFeeDetailsDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Service Fee Details</label>
            <div id="ServiceFeeDetails" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        <br />
        
        <div id="ServiceProcedureDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Service Procedure</label>
            <div id="ServiceProcedure" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        <br />
      
        <div id="ServiceRecipientDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Service Recipient</label>
            <div id="ServiceRecipient" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        <br />
       
        <div id="ServiceUsersDiv">
            <label class="ServiceDetailsMainTitle" style="text-align:left">Service Users</label>
            <div id="ServiceUsers" style="text-align: left; text-shadow: none !important;">
            </div>
        </div>
        <br />
         
    </center>
    <center>
        <table style="width: 100%;" id="ServiceDetails_BackMultiBtn">
            <tr style="">
                <td colspan="2" style=" width: 50%;">
                    <div class="BtnClass" id="ServiceDetails_BackBtn" style=" float: right;height: 32px;">
                        Back
                    </div>
                </td>
                <td colspan="2" style=" width: 50%;">
                    <div class="BtnClass" id="GoToService" style="height: 32px;">
                        Apply
                    </div>
                </td>
            </tr>
        </table>
        <div class="BtnClass" id="ServiceDetails_BackSingleBtn" style="display:none;">
            Back
        </div>
    </center>
    <br />
</div>