﻿<div id="UpdateEmployerDetails" class="DivContainerClass">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr class="TRClass">
            <td class="CaseFollowUpTDClass">
                سبب التحديث
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <select style="width:100%; border:none" id="UpdateEmployerDetails_ReasonsDropDown">
                    <option value="-1">اختر سبب</option>
                    <option value="0">تغيير اسم المنشأة</option>
                    <option value="1">تغيير اسم صاحب المنشأة</option>
                    <option value="2">تغيير مدير المنشأة</option>
                    <option value="5">تغيير تفاصيل الاتصال بالمنشأة</option>
                    <option value="6">تغيير فى الاشخاص المخولين</option>
                    <option value="3">إلغاء المنشأة</option>
                    <option value="4">دمج المنشأة</option>
                </select>
            </td>
        </tr>
        <tr class="SpaceClass">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityName_TR">
            <td class="CaseFollowUpTDClass">
                اسم المنشأة
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="UpdateEmployerDetails_EntityName" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityName_TR_Space">
            <td colspan="4"></td>
        </tr>
        <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityNameAR_TR">
            <td class="CaseFollowUpTDClass">
                اسم المنشأة بالعربية
            </td>
            <td style="width:60%;" class="InputClass" colspan="3">
                <input type="text" id="UpdateEmployerDetails_EntityNameAR" style="border:0px; width:90%" />
            </td>
        </tr>
        <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityNameAR_TR_Space">
            <td colspan="4"></td>
        </tr>

        <!-- list of authorised persons -->
        <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
            <td colspan="4"></td>
        </tr>
        
        <tr class="TRClass   UpdateNameDropDown" id="UpdateEmployerDetails_list_persons_TR" style="display:none">
           <td class="CaseFollowUpTDClass">
            الشخص المخول
        </td>

        <td style="width:60%;" class="InputClass" colspan="3">
            <select style="width:100%; border:none" id="UpdateEmployerDetails_list_persons_DropDown"></select>
        </td>
    </tr>
    <!-- list of authorised persons -->

    <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_FirstName_TR">
        <td class="CaseFollowUpTDClass">
            الأسم الأول
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="text" id="UpdateEmployerDetails_FirstName" style="border:0px; width:90%" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_SecondName_TR">
        <td class="CaseFollowUpTDClass">
            الأسم الثانى
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="text" id="UpdateEmployerDetails_SecondName" style="border:0px; width:90%" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_ThirdName_TR">
        <td class="CaseFollowUpTDClass">
            الأسم الثالث
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="text" id="UpdateEmployerDetails_ThirdName" style="border:0px; width:90%" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_FourthName_TR">
        <td class="CaseFollowUpTDClass">
            الأسم الرابع
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="text" id="UpdateEmployerDetails_FourthName" style="border:0px; width:90%" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass UpdateName">
        <td colspan="4"></td>
    </tr>

    <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityMobile_TR">
        <td class="CaseFollowUpTDClass">
            الهاتف المحمول
        </td>
        <td style="width:40%;" class="InputClass">
            <input type="tel" id="UpdateEmployerDetails_EntityMobile"
            style="border: 0px; width: 85%; direction: ltr;" maxlength="16" pattern="[0-9]*"
            onkeypress="return isNumber(event);" />
        </td>
        <td style="width:1%"></td>
        <td style="width:19%" class="InputFileClass">
            <select style="direction: ltr; border: none; width: 100%; " id="UpdateEmployer_Mobile_CountryCodeDDL"></select>
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityMobileID_TR_Space">
        <td colspan="4"></td>
    </tr>

    <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityEmiratesID_TR">
        <td class="CaseFollowUpTDClass">
            رقم الهوية
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="tel" id="UpdateEmployerDetails_EntityEmiratesID" style="border:0px; width:85%" pattern="[0-9]*"
            onkeypress="return isNumber(event);" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_EntityEmiratesID_TR_Space">
        <td colspan="4"></td>
    </tr>

    <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityAddress1_TR">
        <td class="CaseFollowUpTDClass">
            عنوان المنشأة 1
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="text" id="UpdateEmployerDetails_EntityAddress1" style="border:0px; width:90%" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityAddress1_TR_Space">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityAddress2_TR">
        <td class="CaseFollowUpTDClass">
            عنوان المنشأة 2
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="text" id="UpdateEmployerDetails_EntityAddress2" style="border:0px; width:90%" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityAddress2_TR_Space">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityDistrict_TR">
        <td class="CaseFollowUpTDClass">
            المنطقة
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="text" id="UpdateEmployerDetails_EntityDistrict" style="border:0px; width:90%" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityDistrict_TR_Space">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityEmirate_TR">
        <td class="CaseFollowUpTDClass">
            الامارة
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <select style="width:100%; border:none" id="UpdateEmployerDetails_EntityEmirate"></select>
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_EntityEmirate_TR_Space">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_PhoneNumber_TR">
        <td class="CaseFollowUpTDClass">
            رقم هاتف
        </td>
        <td style="width:40%;" class="InputClass">
            <input type="tel" id="UpdateEmployerDetails_PhoneNumber"
            style="border: 0px; width: 85%; direction: ltr; text-align: right;" pattern="[0-9]*" maxlength="16"
            onkeypress="return isNumber(event);" />
        </td>
        <td style="width:1%"></td>
        <td style="width:19%" class="InputFileClass">
            <select style="direction: ltr; border: none; width: 100%; " id="UpdateEmployer_Phone_CountryCodeDDL"></select>
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_PhoneNumber_TR_Space">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_FaxNumber_TR">
        <td class="CaseFollowUpTDClass">
            رقم فاكس
        </td>
        <td style="width:40%;" class="InputClass">
            <input type="tel" id="UpdateEmployerDetails_FaxNumber"
            style="border: 0px; width: 85%; direction: ltr; text-align: right;" pattern="[0-9]*" maxlength="16"
            onkeypress="return isNumber(event);" />
        </td>
        <td style="width:1%"></td>
        <td style="width:19%" class="InputFileClass">
            <select style="direction: ltr; border: none; width: 100%; " id="UpdateEmployer_Fax_CountryCodeDDL"></select>
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_FaxNumber_TR_Space">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass" id="UpdateEmployerDetails_POBox_TR">
        <td class="CaseFollowUpTDClass">
            صندوق بريد
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="number" id="UpdateEmployerDetails_POBox" style="border:0px; width:90%" pattern="[0-9]*"
            maxlength="7" onkeypress="return isNumber(event);" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass" id="UpdateEmployerDetails_POBox_TR_Space">
        <td colspan="4"></td>
    </tr>

    <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_LandLine_TR">
        <td class="CaseFollowUpTDClass">
            الهاتف الارضى
        </td>
        <td style="width:40%;" class="InputClass" >
            <input type="tel" id="UpdateEmployerDetails_LandLine" maxlength="16"
            style="border: 0px; width: 85%; direction: ltr;" pattern="[0-9]*"
            onkeypress="return isNumber(event);" />
        </td>
        <td style="width:1%"></td>
        <td style="width:19%" class="InputFileClass">
            <select style="direction: ltr; border: none; width: 100%; " id="UpdateEmployer_LandLine_CountryCodeDDL"></select>
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_LandLine_TR_Space">
        <td colspan="4"></td>
    </tr>
    <tr class="TRClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_Email_TR">
        <td class="CaseFollowUpTDClass">
            البريد الالكترونى
        </td>
        <td style="width:60%;" class="InputClass" colspan="3">
            <input type="email" id="UpdateEmployerDetails_Email" style="border:0px; width:90%" />
        </td>
    </tr>
    <tr class="SpaceClass UpdateEmployerContentClass UpdateName" id="UpdateEmployerDetails_Email_TR_Space">
        <td colspan="4"></td>
    </tr>

    <!-- start malfat -->

    <tr class="TRClass">
        <td class="CaseFollowUpTDClass" id="reqDocsToHide">
            الملفات المطلوبة
        </td>
        <td colspan="3"></td>
    </tr>
    <tr class="SpaceClass" >
        <td colspan="4"></td>
    </tr>
    <tr id="AllFilesInOne_TR"> 
        <td class="InputFileClass" colspan="4" style="color: #862826; height: 40px; " >
            <input type="checkbox" id="AllFilesInOne" onchange="UpdateEmployer.allFilesCheckOnChange()">
            رفع ملف واحد
        </td>
    </tr>
    <tr class="SpaceClass">
        <td colspan="4"></td>
    </tr>
    <tr>
        <td class="InputFileClass"
        style="width: 60%; border-left: 2px solid #BA4848;border-right: 2px solid #BA4848; border-top-left-radius: 5px; border-bottom-left-radius: 5px; "
        colspan="4" id="reqDocsToHide_BR">
        <table style="width:100%">

            <tr>
                <td>
                    <div id="UpdateEmployerDetails_RequiredDoc" style=" height:auto;overflow:scroll ; "></div>
                </td>
            </tr>

        </table>
    </td>
</tr>
<tr class="SpaceClass">
    <td colspan="4"></td>
</tr>


<!--<tr class="TRClass">
    <td class="CaseFollowUpTDClass">
        الملفات المطلوبة
    </td>
    <td style="width:60%;" class="InputClass">
        <input type="file" id="UpdateEmployerDetails_File" style="border: 0px; width: 95%; opacity: 0 !important; " accept=".Pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/jpeg,image/jpg,image/tiff,image/gif,image/png,text/plain,.doc,.docx" />
    </td>
</tr>
<tr class="SpaceClass">
    <td colspan="2"></td>
</tr>-->
</table>
<br/>
<center>
    <div class="BtnClass" id="UpdateEmployerDetails_SaveBtn">
        حفظ
    </div>
</center>
<br/>
</div>

<div id="UpdateEmployerDetails_File_Temp" style="display:none">
    <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr onclick="">
            <td style="color: #862826; height: 40px; ">
                ارفاق ملف
            </td>
            <!--<td style="width: 4%;">
                <img src="Images/upload.png" style="height:35px; width:35px" onclick="capturephoto()" />
            </td>
            <td style="width: 1%;">
                <img src="Images/cam.png" style="height:35px; width:35px" onclick="capturephoto()" />
            </td>-->
            <td style="width:50%">
                <table>
                    <tr>
                        <td>
                            <div class="browse-wrap">
                                <div>
                                    <img src="Images/upload.png" style="height:35px; width:35px;" onclick="">
                                </div>
                                <input type="file" onclick="UpdateEmployer.addClickEventForFileChooser('allFilesInOne_upload')"  id="allFilesInOne_upload" name="allFilesInOne_upload" style="height: 40px; width: 40px;" class="upload"
                                title="">
                            </div>
                        </td>
                        <td></td>
                        <td>
                            <div>
                                <img src="Images/cam.png" id="allFilesInOne_CamUpload"
                                style="height:35px; width:35px; z-index:2000000" onclick=""/>
                            </div>
                        </td>
                        <td  class="uploadTick requiredTick"  id="allFilesInOne_CheckMark" style="display:none">
                            <img src="Images/CheckMark.png" style="height:35px; width:35px; z-index:2000000">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>